<h2>Create New Admin</h2>

<%= form_for(@admin) do |f| %>
  <%#= devise_error_messages! %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%#= render "devise/shared/li" %>
<script type="text/javascript">
  $("#new_admin").validate({
      rules: {
        "admin[first_name]": {required: true},
        "admin[last_name]": {required: true},
        "admin[email]": {required: true, email: true},
        "admin[password]": {required: true, minlength: 6},
        "admin[password_confirmation]": {equalTo: "#admin_password", minlength: 6}
      },
      messages: {
        "admin[first_name]": {required: "Please enter your firstname"},
        "admin[last_name]": {required: "Please enter your last_name"},
        "admin[email]": {required: "Please provide a email"},
        "admin[password]": {required: "Please enter a valid password"},
        "admin[password_confirmation]": {required: "Please enter correct password"}
      }
    });
  
</script>






