<% content_for :title, "Admin Home | LRMPS" %>
<div class="main-wraper">
<div class="stud-list">

  <div class="">
    <div class="col-sm-3 lft-sid-cl">
      <div class="clr">
        <h1>Little Rose Modern Public School</h1>
        <ul class=" nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Manage Students</a></li>
          <li><a data-toggle="tab" href="#menu1">Manage Admins</a></li>
          <li><a data-toggle="tab" href="#menu2">Fee Management</a></li>
          <li><a data-toggle="tab" href="#menu3">Settings</a></li>
          <li><%=link_to 'View Homepage', root_path, target: "_blank"%> </li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  
 <div class="col-sm-9">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= search_form_for @search, url: dashboard_admins_path do |f| %>
        <div class="field form-group">
          <%= f.label :full_name_start, "Search Students" %>
          
          <%= f.search_field  :full_name_start , class: 'form-control cstm' , placeholder:"Search..."%>

          <%= f.select :student_detail_standard_id_eq, options_for_select(Standard.pluck(:title, :id), @search.student_detail_standard_id_eq) %>
          <div class="actions">
            <%= f.submit "Search" %>
          </div>
        </div>
      <% end %>
      <table class="btn_table">
        <tr>
          <th><%= sort_link(@search, :full_name) %></th>
          <th><%= sort_link(@search, :admission_date  ) %></th>
        </th>
        </tr>
      </table>
     
       <%=link_to "Add a student", new_student_path, class: "new-student-path" %>
      <div class="studentcontainer">
        <div class="panel panel-default">
          <div class="panel-heading">Total <%= @students.count%> students</div>
          <div class="panel-body">
            <div class="table-responsive stu_table">           
              <table class="table table-hover">
                <thead>
                  <tr class="bord">
                    <th>Full Name</th>
                    <th>Father Name</th>
                    <th>Class</th>
                    <th>Date Of Birth</th>
                    <!-- <th>Date Of Admission</th> -->
                    <th>View</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @students.each do |student| %>
                  <tr>
                    <td><%= student.full_name %></td>
                    <td><%= student.student_detail.try(:father_name) %></td>
                    <td><%= student.student_detail.try(:standard).try(:title) %></td>
                    <td><%= student.student_detail.try(:dob) %></td>

                   </div>
                    <!-- <td><%#= student.student_detail.try(:admission_date) %></td> -->
                    <td><%= link_to "View details", student_path(student) %></td>
                    <td>
                      <%= link_to edit_student_path(student)  do%>
                        Edit
                      <% end %>
                      <span>/</span>
                      <%= link_to "Delete", student_path(student) , method: :delete,
               data: { confirm: 'Are you sure?' }  %>
                        
                      
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="menu1" class="tab-pane fade">
      <div class="admincontainer">
        <%=link_to "Assign an admin", new_admin_path, class: "new-student-path mew-admin-path" %>
        <div class="panel panel-default">
          <div class="panel-heading">Manage Admins</div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                   <th>Admin Name</th>
                  <th>Create date</th>
                  <th>Action</th>
                </tr>
                <% @admins.each do|admin| %>
                  <tr>
                    <td><%= admin.full_name %></td>
                    <td><%= admin.created_at.strftime("%d-%m-%Y") %></td>
                    <td><%= link_to "Remove",admin_path(admin), method: :delete,
                data: { confirm: 'Are you sure?' } %><td></tr>
                <% end %>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Not Available</h3>
      <p>There's no fee data present of any student yet</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <div class="password">
        <div class="panel panel-default">
          <div class="panel-heading">Change your admin password</div>
          <div class="panel-body">
            <div class="col-sm-4">
             <%= render 'change_password_form' %>
           </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
  
<script>
  $(document).ready(function(){
  $("#q_student_detail_standard_id_eq").change(function(){
  this.form.submit();
    });
  });
</script>