<div class="main-wraper">
  <div class="inner">
    <div class="colr">
      <section class="stu_section">
        <div class="row"> 
          <div class="col-sm-5 text-center">

            <div id="myCarousel" class="carousel slide">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <%= image_tag 'manadhar.jpg',class:"img-responsive" %>
                  </div>

                  <div class="item">
                    <%= image_tag 'dog.jpg',class:"img-responsive" %>
                  </div>
                </div>
              </div>

              <div class="mybtn">
                <button type="button" id="myBtn" class="btn" id="myBtn"><</button>
                <button type="button" id="myBtn2" class="btn" id="myBtn">></button>
              </div>














          </div>
          <div class="col-sm-7">
            <div class="studt-name">
              <h2>
                <%= @student.first_name %>
                <%= @student.last_name %>              
              </h2>
              <h3>Father Name : <span><%= @student.student_detail.try(:father_name) %></span></h3>
              <h3>Standard : <span><%= @student.student_detail.try(:standard).try(:title) %></span></h3>
              <h3>Date Of Birth : <span><%= @student.student_detail.try(:dob) %></span></h3>
              <h3>Date Of Admission : <span>1st April 2016</span></h3>
              <h3>
                Current Session : 
                <span>
                <% if @student.student_attachments.present? %>
                <% @student.student_attachments.each do |st_attachment|%>
                <%= image_tag st_attachment.try(:attachment).url, width: 100, height: 50 if st_attachment.attachment.present? %><br/>
                <% end %>
                <% end %>
                </span>
              </h3>
            </div>
          </div>
        </div>
      </section>
      <!-- fee information -->
      <section class="fee-info">
        <div class=" fee-inner">
          <h2>Fee Information</h2>
          <div class="row">
            <div class="col-sm-3"><a href="#">January</a></div>
            <div class="col-sm-3"><a href="#">February</a></div>
            <div class="col-sm-3"><a href="#">March</a></div>
            <div class="col-sm-3"><a href="#">April</a></div>
            <div class="col-sm-3"><a href="#">May</a></div>
            <div class="col-sm-3"><a href="#">June</a></div>
            <div class="col-sm-3"><a href="#">July</a></div>
            <div class="col-sm-3"><a href="#">August</a></div>
            <div class="col-sm-3"><a href="#">September</a></div>
            <div class="col-sm-3"><a href="#">October</a></div>
            <div class="col-sm-3"><a href="#">November</a></div>
            <div class="col-sm-3"><a href="#">December</a></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div><!--end of inner -->
</div><!-- end of main-wraper -->


<script>
$(document).ready(function(){
  // Activate Carousel
  $("#myCarousel").carousel("pause");
    
  // Enable Carousel Indicators
  $(".item1").click(function(){
    $("#myCarousel").carousel(0);
  });
  $(".item2").click(function(){
    $("#myCarousel").carousel(1);
  });
    
   // Go to the previous item
  $("#myBtn").click(function(){
    $("#myCarousel").carousel("prev");
  });

  // Go to the next item
  $("#myBtn2").click(function(){
    $("#myCarousel").carousel("next");
  });



});
</script>