<% content_for :title, "#{@student.full_name  } - #{@student.student_detail.try(:standard).try(:title)} Class" %>
<div class="main-wraper">
  <div class="inner">
    <div class="colr">
      <section class="stu_section">
        <div class="row"> 
          <div class="col-sm-5 text-center">

            <div id="myCarousel" class="carousel slide">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <%#= image_tag st_attachment.try(:attachment).url, width: 100, height: 50 if st_attachment.attachment.present? %>
                      <% i = 0 %>
                        <%@student.student_attachments.each do |st_attachment|%>
                          <% if i == 0 %>
                          <div class="item active"> 
                          <% i = i+1 %>
                          <%else %>
                          <div class="item">
                        <%end%>
                        <div class="adhar-inner">
                          <%if st_attachment.attachment.present?%>
                            <%= image_tag st_attachment.try(:attachment).url  %>
                          <else
                            <%=image_tag "unavailable-img.png"%>
                          <% end %>
                        </div>
                      </div>
                      <%end%>
                </div>
              </div>

              <div class="mybtn">
                <button type="button" id="myBtn" class="btn" id="myBtn"><</button>
                <button type="button" id="myBtn2" class="btn" id="myBtn">></button>
              </div>
          </div>
          <div class="col-sm-7">
            <div class="studt-name">
              <h2>
                <%= @student.full_name %>             
              </h2>
              <h3>Father Name : <span><%= @student.student_detail.try(:father_name) %></span></h3>
              <h3>Class : <span><%= @student.student_detail.try(:standard).try(:title) %>,</span>
                <strong class="section-label">Section: </strong><span class="section-output"> <%= @student.student_detail.try(:section)%></span>
              </h3>
              <h3>Date Of Birth : <span><%= @student.student_detail.try(:dob) %></span></h3>
              <h3>Date Of Admission : <span>1st April 2016</span></h3>
              <h3>Current Session
                <span>
                  <% if Date.today.month < 4 %>
                    <%= "#{Date.today.year - 1} - #{Date.today.year}" %>
                  <% else %>
                    <%= "#{Date.today.year} - #{Date.today.year + 1}" %>
                  <% end %>
                </span>
              </h3>
              <h3>About:<span><%= @student.student_detail.try(:about)%></span></h3>
            </div>
          </div>
        </div>
      </section>
      <!-- fee information -->
      <section class="fee-info">
        <div class=" fee-inner">
          <h3 class="text-center">Fee Information</h3>
          <p class="text-center">
            Session: <span>
                  <% if Date.today.month < 4 %>
                    <%= "#{Date.today.year - 1} - #{Date.today.year}" %>
                  <% else %>
                    <%= "#{Date.today.year} - #{Date.today.year + 1}" %>
                  <% end %>
                </span>
          </p>
          <div class="row">
            <%StudentDetail.fee_paids.each do |k, v|%>
              <% next if v == 0 %>
                <% if @student.student_detail.fee_paid != 0 && v <= StudentDetail.fee_paids[@student.student_detail.fee_paid] %>
                  <div class="col-sm-3"><a href="#" class="mya" ><%= k %></a>
                    <%=image_tag 'paid-stamp.png', class: "paid-stamp" %>
                  </div>
                <% else %>
                  <div class="col-sm-3"><a href="#"><%= k %></a></div>
                <% end%>
            <% end %>
          </div>
          <%=link_to "Update Student Information", edit_student_path, class: "fee-info-btn"%>
        </div>
      </section>
    </div>
  </div>
</div><!--end of inner -->
</div><!-- end of main-wraper -->



<script>
$(document).ready(function(){
  // Activate Carousel
  $("#myCarousel").carousel("pause");
    
  // Enable Carousel Indicators
  $(".item1").click(function(){
    $("#myCarousel").carousel(0);
  });
  $(".item2").click(function(){
    $("#myCarousel").carousel(1);
  });
    
   // Go to the previous item
  $("#myBtn").click(function(){
    $("#myCarousel").carousel("prev");
  });

  // Go to the next item
  $("#myBtn2").click(function(){
    $("#myCarousel").carousel("next");
  });



});
</script>