<div class="main-wraper">
<div class="stud-list">

  <div class="">
    <div class="col-sm-3 lft-sid-cl">
      <div class="clr">
        <h1>Dashbord</h1>
        <ul class=" nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
          <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
          <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
        </ul>
      </div>
    </div>
  
 <div class="col-sm-9">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= search_form_for @search do |f| %>
        <div class="field form-group">
          <%= f.label :first_name_start, "Search Students" %>
           <%= f.text_field :first_name_start , class: 'form-control cstm' , placeholder:"Search..." %>
           <div class="actions"><%= f.submit "Search" %></div>
        </div>
        
      <% end %>
      <table class="btn_table">
        <tr>
          <th><%= sort_link(@search, :first_name) %></th>
          <th><%= sort_link(@search, :admission_date  ) %></th>
        </tr>
      </table>
      <div class="table-responsive stu_table">           
        <table class="table table-hover">
          <thead>
            <tr class="bord">
              
              <th>Full Name</th>
              
              <th>Date Of Birth</th>
              <th>Father Name</th>
              <th>Adhar Card Picture</th>
              <th>Date Of Admission</th>
              <th>Standard</th>
              <th>show</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.student_detail.try(:dob) %></td>
              <td><%= student.student_detail.try(:father_name) %></td>
              <td>
                <% if student.student_detail.present? && student.student_detail.uid_pic.present? %>
                  <%= image_tag student.student_detail.try(:uid_pic).url, width: 100, height: 50 %><br/>
                <%end%>
              </td>
              <td><%= student.student_detail.try(:admission_date) %></td>
              <td><%= student.student_detail.try(:standard).try(:title) %></td>
              <td><%= link_to "View", student_path(student) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>



    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>blank</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>blank</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>blank-3</p>
    </div>

  </div>
 </div>
  </div>
</div>



</div>
