<div class="form-create-student">
  <div class="inner-form">
      <div class="col-sm-7 start_form">
        <h1>Create a new student</h1>
        <%= form_for @student , url: admin_dashboard_index_path do |f| %>

          <div class="form-group">
            <label for="email">First Name*</label>
            <%= f.text_field :first_name , placeholder:"First Name" , class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="email">Last Name*</label>
            <%= f.text_field :last_name , placeholder:"Last Name" , class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.hidden_field :password, value: "password" %>
          </div>

          <div class="form-group">
            <label for="email">Father Name*</label>
            <%= f.fields_for :student_detail do |s_fields| %>
              <%= s_fields.text_field :father_name , placeholder:"Last Name" , class: "form-control" %>
            <% end %>
          </div>

          <div class="form-group">
            <label for="email">Date of Birth*</label>
            <%= f.fields_for :student_detail do |s_fields| %>
              <%= s_fields.date_field :dob , class: "form-control sm"  %>
            <% end %>
          </div>


          <div class="form-group">
            <label for="email">Adhar Card Picture*</label>
            <%= f.fields_for :student_detail do |s_fields| %>
               <%= s_fields.file_field :uid_pic , class: " sm" %>
            <% end %>
          </div>

          <div class="form-group">
            <label for="email">Date of Admission*</label>
            <%= f.fields_for :student_detail do |s_fields| %>
              <%= s_fields.date_field :admission_date , class: "form-control sm" %>
            <% end %>
          </div>

          <div class="form-group">
            <label for="email">Standard*</label>
            <%= f.fields_for :student_detail do |s_fields| %>
              <%= s_fields.collection_select(:standard_id, Standard.all, :id, :title) %>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.submit :Submit , class: "form-control bttn" %>
          </div>

        <% end %>
      </div>
  </div>
</div>












