<% content_for :title, "Gyandeep Public School,Govindpuri, Modinagar, Uttar Pradesh 201201" %>
<div class="home_page">
<div class="col-lg-12 col-xs-12  col-md-12 col-lg-12 ">
  <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
    <div class="top-brand" id="home">
      <div class="img-logo">
        <%= image_tag 'lg.jpg',class:"img-responsive" %>
      </div>
      <div class="tittle">
        <h2>
          GYANDEEP PUBLIC SCHOOL
        </h2>
        <p>(Jr. High School, Recognized  & Affiliated To CBSE)</p>
        <p> Govindpuri, Modinagar, Uttar Pradesh 201201 </p>
        <p>Email :rupalthakur007@gmail.com  Phone No :09027131417</p>
      </div>
      <!-- <div class="right-logo">
        <%#= image_tag 'logo-right.jpg',class:"img-responsive" %>
        </div> -->
    </div>
  </div>
</div>
<!-- navbar -->
<section class="home-nav">
  <nav class="navbar navbar-inverse">
    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar2">
        <ul class="nav navbar-nav">
          <li class=""><a href="#">Home</a></li>
          <li><a href="#about">ABOUT US <span class="arrow-up"></span></a></li>
          <li><a href="#mygallery">GALLERY <span class="arrow-up"></span></a></li>
          <li><a href="#contact">CONTACT US <span class="arrow-up"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>
<!-- ===carousel-images=== -->
<section class="slider-img">
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="item1 active"></li>
      <li class="item2"></li>
      <!-- <li class="item3"></li>
        <li class="item4"></li> -->
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'net.jpg',class:"img-responsive" %>
      </div>
      <div class="item">
        <%= image_tag 'net2.jpg',class:"img-responsive" %>
      </div>
      <!-- <div class="item">
        <%#= image_tag 'img-14.jpg',class:"img-responsive" %>
        </div> -->
      <!-- <div class="item">
        <%#= image_tag 'img-15.jpg',class:"img-responsive" %>
        </div> -->
    </div>
    <!-- Left and right controls -->
  </div>
  <script>
    $(document).ready(function(){
        // Activate Carousel
        $("#myCarousel").carousel({interval: 10000});
        
        // Enable Carousel Indicators
        $(".item1").click(function(){
            $("#myCarousel").carousel(0);
        });
        $(".item2").click(function(){
            $("#myCarousel").carousel(1);
        });
        $(".item3").click(function(){
            $("#myCarousel").carousel(2);
        });
        $(".item4").click(function(){
            $("#myCarousel").carousel(3);
        });
        
        // Enable Carousel Controls
        /*$(".left").click(function(){
            $("#myCarousel").carousel("prev");
        });
        $(".right").click(function(){
            $("#myCarousel").carousel("next");
        });*/
    });
  </script>
</section>
<!-- end of slider -->
<section class="runing-text">
  <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1  bd-bottom">
    <div>
      <marquee behavior="scroll" direction="" onmouseover="this.stop();" onmouseout="this.start();">
        <b> Welcome to Gyandeep Public School</b>
      </marquee>
    </div>
</section>
<section class="text-sec" id="about">
<div class="col-lg-7 col-md-7 col-sm-7 col-lg-offset-1 col-md-offset-1 bd-rt">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="green-head">
About Gyandeep Public School
</div>
<div class="content">
<%= image_tag 'img-15.jpg',class:"img-thumbnail img-responsive" %>
<p>&nbsp</p>
<p>
<span>The Gyandeep Public School, Modinagar offers education from Pre-Kindergarten to grade 8, nurturing the child into a well-rounded individual possessing highly developed physical, social and intellectual skills, and winning attitudes. <br>
‘LRMPS’ aim is to ensure that all students experience seamless transition of successful learning from their Exploratory Early Years through the challenges of Elementary School, on to the Years of expanding Horizons in Jr. High School. You can be part of this endeavor. Explore and learn more about BDPS. </span>
</p>
<!-- <a href="javascript:void(0)">View more...</a> -->
</div>
</div>
</div><!-- col-7 -->
<div class="col-lg-3 col-md-3 col-sm-5 right-side-cal ">
<!--Calendar -->
<div style="">
<!--Calendar-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-marginTop10px">
<div class="my-head-Green">
Calendar
</div>
<div class="Div_Shadow" style="border-radius: 5px;">
<div class="Calendar_Home_Main" style="font-size: 15px;">
<!-- <iframe src="https://calendar.google.com/calendar/embed?src=aqib.khan140994%40gmail.com&ctz=Asia%2FKolkata" style="border: 0" width="100%" height="auto" frameborder="0" scrolling="no"></iframe> -->
<center>
<script language="javascript" type="text/javascript">
  var day_of_week = new Array('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
  var month_of_year = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
  
  //  DECLARE AND INITIALIZE VARIABLES
  var Calendar = new Date();
  
  var year = Calendar.getFullYear();     // Returns year
  var month = Calendar.getMonth();    // Returns month (0-11)
  var today = Calendar.getDate();    // Returns day (1-31)
  var weekday = Calendar.getDay();    // Returns day (1-31)
  
  var DAYS_OF_WEEK = 7;    // "constant" for number of days in a week
  var DAYS_OF_MONTH = 31;    // "constant" for number of days in a month
  var cal;    // Used for printing
  
  Calendar.setDate(1);    // Start the calendar day at '1'
  Calendar.setMonth(month);    // Start the calendar month at now
  
  
  /* VARIABLES FOR FORMATTING
  NOTE: You can format the 'BORDER', 'BGCOLOR', 'CELLPADDING', 'BORDERCOLOR'
      tags to customize your caledanr's look. */
  
  var TR_start = '<TR>';
  var TR_end = '</TR>';
  var highlight_start = '<TD WIDTH="30"><TABLE CELLSPACING=0 BORDER=1 BGCOLOR=DEDEFF BORDERCOLOR=CCCCCC><TR><TD WIDTH=20><B><CENTER>';
  var highlight_end   = '</CENTER></TD></TR></TABLE></B>';
  var TD_start = '<TD WIDTH="30"><CENTER>';
  var TD_end = '</CENTER></TD>';
  
  /* BEGIN CODE FOR CALENDAR
  NOTE: You can format the 'BORDER', 'BGCOLOR', 'CELLPADDING', 'BORDERCOLOR'
  tags to customize your calendar's look.*/
  
  cal =  '<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=0 BORDERCOLOR=BBBBBB><TR><TD>';
  cal += '<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2>' + TR_start;
  cal += '<TD COLSPAN="' + DAYS_OF_WEEK + '" BGCOLOR="#EFEFEF"><CENTER><B>';
  cal += month_of_year[month]  + '   ' + year + '</B>' + TD_end + TR_end;
  cal += TR_start;
  
  //   DO NOT EDIT BELOW THIS POINT  //
  
  // LOOPS FOR EACH DAY OF WEEK
  for(index=0; index < DAYS_OF_WEEK; index++)
  {
  
  // BOLD TODAY'S DAY OF WEEK
  if(weekday == index)
  cal += TD_start + '<B>' + day_of_week[index] + '</B>' + TD_end;
  
  // PRINTS DAY
  else
  cal += TD_start + day_of_week[index] + TD_end;
  }
  
  cal += TD_end + TR_end;
  cal += TR_start;
  
  // FILL IN BLANK GAPS UNTIL TODAY'S DAY
  for(index=0; index < Calendar.getDay(); index++)
  cal += TD_start + '  ' + TD_end;
  
  // LOOPS FOR EACH DAY IN CALENDAR
  for(index=0; index < DAYS_OF_MONTH; index++)
  {
  if( Calendar.getDate() > index )
  {
  // RETURNS THE NEXT DAY TO PRINT
  week_day =Calendar.getDay();
  
  // START NEW ROW FOR FIRST DAY OF WEEK
  if(week_day == 0)
  cal += TR_start;
  
  if(week_day != DAYS_OF_WEEK)
  {
  
  // SET VARIABLE INSIDE LOOP FOR INCREMENTING PURPOSES
  var day  = Calendar.getDate();
  
  // HIGHLIGHT TODAY'S DATE
  if( today==Calendar.getDate() )
  cal += highlight_start + day + highlight_end + TD_end;
  
  // PRINTS DAY
  else
  cal += TD_start + day + TD_end;
  }
  
  // END ROW FOR LAST DAY OF WEEK
  if(week_day == DAYS_OF_WEEK)
  cal += TR_end;
  }
  
  // INCREMENTS UNTIL END OF THE MONTH
  Calendar.setDate(Calendar.getDate()+1);
  
  }// end for loop
  
  cal += '</TD></TR></TABLE></TABLE>';
  
  //  PRINT CALENDAR
  document.write(cal);
  
  //  End
</script>
</center>
</div>
<!-- <a href="#" class="my-a">View
  full calendar...</a> -->
</div>
</div>
</div>
</div>
</section>
<!--image- GALLERY -->
<section class="gallery-sce" id="mygallery">
  <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1 mt-gallery" >
    <div class="col-sm-12">
      <div class="my-greenhead">
      GALLERY
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-1.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-10.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-3.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-5.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="gallery-img">
          <%= image_tag 'img-11.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="gallery-img">
          <%= image_tag 'img-4.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="gallery-img">
          <%= image_tag 'img-8.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-10.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-5.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-2.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="gallery-img">
          <%= image_tag 'img-3.jpg',class:"img-responsive img-thumbnail" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="well my-marginTop10px">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <!-------Latest Videos && Latest Photos -Facebook Page -->
      <div style="margin-top: 10px; margin-bottom: 10px;">
      <!--Latest Videos -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " >
          <div class="my-head-DimGray ">
            <i class="fab fa-youtube"></i><span>
            </span>Latest Videos
          </div>
          <div class="content2">
            <marquee direction="up" width="100%" height="200px" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
            <div>
              <a href="https://www.youtube.com/embed/PYrgjMubh-c" target="_blank">
              Fast Math Trick
              </a> 
              <iframe src="https://www.youtube.com/embed/PYrgjMubh-c"></iframe>
            </div>
            </marquee>
            <div class="my-border-bottom2px"></div>
          </div>
        </div>
        <!-- Latest Photos -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
          <div class="my-head-DimGray ">
            <i class="far fa-image"></i><span>Latest Photos</span>
          </div>
          <div class="content2">
            <div class="mySlides">
              <div class="slid-inner">
                <%= image_tag 'full.jpg',class:" img-responsive" %>
              </div>
              <div class="cption">
                <span target="_blank">Samay Singh Thakur, Manager</span>
              </div>
            </div>
            <div class="mySlides">
              <div class="slid-inner">
                <%= image_tag 'full.jpg' ,class:" img-responsive" %>
              </div>
              <div class="cption">
                <span target="_blank">Rupal Thakur, Principal</span>
              </div>
            </div>
            <script>
              var slideIndex = 0;
              carousel();
              
              function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  for (i = 0; i < x.length; i++) {
                      x[i].style.display = "none";
                  }
                  slideIndex++;
                  if (slideIndex > x.length) { slideIndex = 1 }
                  slides[index-1].style.display = "block"; 
                  setTimeout(carousel, 10000);
              }
            </script>
          </div>
          <div class="my-border-bottom2px"></div>
          <div>
          </div>
        </div>
        <!-- Facebook Page -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
        <div class="my-head-DimGray ">
        <i class="fab fa-facebook-square"></i><span>
        Facebook Page</span>
        </div>
        <div class="fb-page">
        <a target="_blank" href="https://www.facebook.com/rup3366/">
        <%= image_tag 'fb.jpg',class:"img-responsive" %>
        </a>
        </div>
        <div class="my-border-bottom2px"></div>
        <div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="black" id="contact">
  <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1 ">
    <div class="myrow ">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
        <ul class="bottom-menu">
          <li><a href="#home" class="">Home</a></li>
          <li><a href="#about" class="">About Us</a></li>
          <li><a href="#mygallery" class="">Gallery</a></li>
          <li><a href="#contact" class="">Contact Us</a></li>
        </ul> 
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 scend">
      <div class="iner">
        <iframe src="https://www.google.com/maps/place/Bal+Deep+Public+School/@28.8542295,77.5862878,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x390c603cec8bb4dd:0x534e4595b5a1ba66!2sBal+Deep+Public+School!8m2!3d28.8542248!4d77.5884818!3m4!1s0x390c603cec8bb4dd:0x534e4595b5a1ba66!8m2!3d28.8542248!4d77.5884818" width="600" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>Gyandeep Public School Govindpuri, Modinagar, Uttar Pradesh 201201 Email:rupalthakur007@gmail.com  Phone No : 09027131417</p>
      </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 ">
        <div class="right-sd">
        <h4>Follow us on</h4>
          <ul class="social-icons">
            <li>
              <a href="javascript:void(0)" class="fb"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)" class="twt"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)" class="you"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)" class="gplus"><i class="fab fa-google-plus-g"></i>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="footer">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <table class="table-responsive f-taable">
    <tbody>
      <tr>
      <td>
        <div class="data" style="color: #fff; font-size: 12px;font-weight: 500;">
          <span>Made with <i style="color: #fe2200de; font-size: 12px;" class="fa fa-heart"></i> by</span><br>
          <div class="inner-data" style=""> 
            <a style="" href="http://www.kbrostechno.com/" target="_blank">Kbros Technologies</a>
          </div>
        </div>
      </td>
      <td rowspan="2">
      <!-- logo -->
        <div class="data-2" style="">
        <a style="" href="http://www.kbrostechno.com/" target="_blank">  
        <div class="Eduorbit_logo"> 
          <%= image_tag 'my.png' , class: "img-responsive" %> 
        </div>
        </a>
        </div>
      </td>
      </tr>
    </tbody>
    </table>
  </div>
</section>

</div><!-- main-page -->
<script>
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {
  
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();
  
        // Store hash
        var hash = this.hash;
  
        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 600, function(){
     
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
</script>